.h-10{
  height: 5vh;
}
.w-25{
  width: 25%;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%
}
.wh-inherit{
  width: inherit;
  height: inherit;
}
.bg-purple{
  background-color: #40303F;
}
.white{
  color: azure;
}
.flex{
  display:flex;
}
.space-evenly{
  justify-content: space-evenly;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
h3{
  text-align: left;
}
.red{
  color:#f75239;
}
.white{
  color: #FFF;
}
.bg-green{
  background-color: #16a085;
}
.float-right{
  float: right;
}
.float-bottom{
  align-self: end;
}
.pd-8{
  padding: 8px;
}
.pd-5{
  padding: 5px;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.font-14{
  font-size: 14px;
}



